:root {
    --background-color: #5F9A80;
    --background-color-light: white;
    --text-light: white;
}

.body {
    display:flex;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    max-width: 1500px;
    margin: 0;
}

.header {
    background-color: var(--background-color);
    padding: 20px;
    font-size: 1.2rem;
}

.header__nav {
    display: flex;
    justify-content: right;
    margin-bottom: auto;
}

.header__link {
    text-decoration: none;
    color: var(--text-light);
    padding: 15px;
}

.header__link:hover {
    text-decoration: underline;
}

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.main__caption {
    font-size: .6rem;
}

.article {
    max-width: 800px;
}

.article__h1 {
    font-size: 1.3rem;
}

.article__p {
    margin-bottom: 50px;
}

.footer {
    background-color: var(--background-color);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    margin-top: auto;
    font-size: 0.9rem;
}

